.textInput__container {
  width: 100%;
}

.textInput {
  margin-top: 5px;
  margin-bottom: 9px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0px 20px;
  background-color: #dadbdd;
  border-top: 1px solid #bebebe19;
  border-radius: 17px;
}

.textInput > form {
  /* min-width: 150px;
  max-width: 500px;
  width: 50vw; */
  display: flex;
  flex: 1;
  flex-direction: row;
}

.textInput > form > input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
}

.textInput > form > input::placeholder-shown {
  color: #8e8e93;
}

.textInput > form > input:not(:placeholder-shown) {
}
